<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>3406260862-sk0ge2qgoe74dc6191fem1t0524vn4n7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.3406260862-sk0ge2qgoe74dc6191fem1t0524vn4n7</string>
	<key>API_KEY</key>
	<string>AIzaSyBpSCNvoIGUz1osPBwj_bqhb9UdN7MU2o8</string>
	<key>GCM_SENDER_ID</key>
	<string>3406260862</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chicagoworks.flutterFirebaseRtdb</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-rtdb</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-rtdb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:3406260862:ios:7d1c58c324e2e3342bc62f</string>
</dict>
</plist>